@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', serif;
}

.wrapper {
  align-items: center;

  background: rgba(45, 176, 224, 1);
  background: -moz-linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(45, 176, 224, 1)), color-stop(100%, rgba(96, 40, 168, 1)));
  background: -webkit-linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
  background: linear-gradient(45deg, rgba(45, 176, 224, 1) 0%, rgba(96, 40, 168, 1) 100%);
  display: flex;
  filter: progid:dximagetransform.microsoft.gradient( startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=1 );
  height: 100vh;
  justify-content: center;
}

.main {
  background: #2a6bb1;
  box-shadow: 0 2px 80px -20px rgba(0, 0, 0, 0.5);
  height: 55vh;
  margin: 0 auto;
  width: 60%;
}

@media (max-width: 575px) {
  .main {
    height: auto;
  }
}

.info {
  align-items: center;
  background: url('../../img/polygon.jpg') center center no-repeat;
  background-blend-mode: multiply;
  background-color: #484747;
  background-size: cover;
  border: 2px solid #1f1f1f;
  border-right: 2px solid #131e29;
  color: #000;
  display: flex;
  height: 55vh;
  justify-content: center;
  text-align: center;
}

@media (max-width: 575px) {
  .info {
    height: 30vh;
  }
}

.form {
  border-bottom: 2px solid #113a65;
  border-right: 2px solid #113a65;
  border-top: 2px solid #113a65;
  height: 55vh;
  padding-left: 50px;
  padding-top: 100px;
}

@media (max-width: 1244px) {
  .form {
    padding-left: 15px;
    padding-top: 40px;
  }
}

@media (max-width: 575px) {
  .form {
    border-left: 2px solid #113a65;
    height: auto;
    padding-top: 30px;
  }
}

input[type='text'] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #113a65;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 20px;
  outline: none;
  overflow: hidden;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
}

@media (max-width: 1244px) {
  input[type='text'] {
    margin-right: 0;
    width: 100%;
  }
}

input::-webkit-input-placeholder {
  color: #103a65;
}

input::-moz-placeholder {
  color: #103a65;
}

button {
  background-color: #235d9c;
  border: 2px solid #103a65;
  border-bottom: 4px solid #103a65;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  margin: 0 2px;
  outline: none !important;
  padding: 8px 20px;
}

@media (max-width: 1244px) {
  button[type='submit'] {
    margin-bottom: 30px;
    width: 100%;
  }
}

button:hover {
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.info h2 {
  color: #fff;
  font-size: 3em;
}

@media (max-width: 1244px) {
  .info h2 {
    font-size: 2em;
  }
}

.info p {
  color: #e4e4e4;
  font-weight: bold;
}

.infoWeath {
  color: #fff;
  font-size: 20px;
  width: 70%;
}

@media (max-width: 1244px) {
  .infoWeath {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .infoWeath {
    font-size: 15px;
  }
}

@media (max-width: 402px) {
  .infoWeath {
    font-size: 14px;
  }
}

.error {
  color: #041f3c;
  font-weight: bold;
}
